
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@font-face {
  font-family: "kindest_realitydemoregular";
  src: url("../fonts/fontsfree-net-kindestreality_demo-webfont.woff2")
      format("woff2"),
    url("../fonts/fontsfree-net-kindestreality_demo-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.font-m {
  font-family: "Montserrat", sans-serif;
}
.font-o {
  font-family: "Oswald", sans-serif;
}
.fw-1 {
  font-weight: 400;
}
/* 
font-family: 'Oswald', sans-serif;
font-family: 'Montserrat', sans-serif;

font-family: 'Poppins', sans-serif;
/* RESET CSS START */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  position: relative;
}

html {
  overflow-x: hidden;
}

:root {
  --c1: #BC050B;
  --c2: #2222;
}

a,
button {
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--c1);
}

a:hover,
button:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

p,
small {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

input,
select {
  font-family: "Montserrat", sans-serif;
}

ul,
ul.list-inline {
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

/* RESET CSS END */

/* UTILITY CSS START */

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capital {
  text-transform: capitalize !important;
}

.col-center {
  margin: 0 auto;
}

.mc-b-2 {
  margin-bottom: 20px !important;
}

.mc-b-3 {
  margin-bottom: 30px !important;
}

.mc-b-4 {
  margin-bottom: 40px !important;
}

.mc-b-5 {
  margin-bottom: 40px !important;
}

.mc-b-8 {
  margin-bottom: 80px !important;
}

.mc-t-2 {
  margin-top: 20px !important;
}

.mc-t-3 {
  margin-top: 30px !important;
}

.mc-t-4 {
  margin-top: 40px !important;
}

.mc-1 {
  margin: 10px !important;
}

.pc-p-3 {
  padding: 3% 0;
}

.pc-p-4 {
  padding: 4% 0;
}

.pc-p-6 {
  padding: 6% 0;
}

.pc-p-10 {
  padding: 10% 0;
}

.pc-b-6 {
  padding-bottom: 6%;
}

.mc-l-2 {
  margin-left: 20px;
}

/* MAIN-BTNS */

.lg-btn {
  width: 100%;
}

.primary-fur {
  background: var(--c1);
  border-color: var(--c1) !important;
  color: #fff;
}

.primary-fur:hover {
  background: transparent;
  color: black;
}

.primary-btn {
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 20px;
  text-align: center;
  z-index: 1;
  border-radius: 10px;
  text-transform: capitalize;
  overflow: hidden;
  transition: all 1s ease-in-out;
  border: 2px solid;
  outline: none;
}

.primary-btn::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  transition: inherit;
  z-index: -1;
  border-radius: inherit;
  overflow: hidden;
  outline: none;
}

.primary-btn.primary-bg:hover::before {
  width: 100%;
  left: 100%;
}

.primary-btn.primary-bg {
  background: var(--c1);
  border-color: var(--c1);
  color: #fff !important;
}

.primary-btn.primary-bg:hover {
  color: #000 !important;
  background-color: #fff;
}

.primary-btn.transparent-bg {
  background: transparent;
  color: var(--c1);
  border: 1px solid #fff !important;
  color: #fff;
  margin-top: 10px;
}

.primary-btn.transparent-bg::before {
  background-color: var(--c1);
}

.primary-btn.transparent-bg:hover::before {
  width: 100%;
}

.primary-btn.transparent-bg:hover {
  color: #fff;
}

.bg-primary {
  background-color: #e7ecf5 !important;
}

.bg-grey {
  background-color: #efefef !important;
}

/* SLICK SLIDER CSS START */

/* SLICK SLIDER CSS START */

.slick-prev:before {
  content: "";
  background: url(../images/arrow-left.png);
  width: 39px;
  height: 39px;
  position: absolute;
  background-size: contain;
  display: inline-block;
}

.slick-next:before {
  content: "";
  background: url(../images/arrow-right.png);
  width: 39px;
  height: 39px;
  position: absolute;
  background-size: contain;
  display: inline-block;
}

.slick-next:before,
.slick-prev:before {
  font-size: 15px;
  line-height: 1;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  opacity: 1;
  color: #fff;
  transition: all 0.8s ease-in-out;
  background-repeat: no-repeat;
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: 1;
}

.slick-next,
.slick-prev {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  display: block;
}

.slick-next {
  z-index: 1;
  left: auto;
  right: -100%;
}

.slick-prev {
  left: 0;
  right: auto;
  z-index: 1;
}

.slick-dots li button:before {
  left: 0;
  width: 15px;
  height: 15px;
  content: "";
  opacity: 1;
  background: #000;
  border-radius: 50%;
}

.slick-dots {
  bottom: 0;
}

/* SLICK SLIDER CSS END */

/* SLICK SLIDER CSS END */

/* UTILITY CSS END */

/* MOBILE-MENU CSS START */

.hamburger .hamburger-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 25px;
}

.hamburger span:not(:last-child) {
  margin-bottom: 4px;
}

.hamburger span {
  width: 100%;
  height: 3px;
  background: #707070;
  border-radius: 100px;
  transition: all 0.5s ease-in-out;
}

.hamburger span:first-child {
  width: 50%;
}

.hamburger span:last-child {
  width: 70%;
}

.hamburger:hover span {
  width: 100%;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 30px 40px0;
  background: var(--c1);
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  z-index: 100;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
}

.mobile-menu .mobile-close {
  text-align: end;
  margin-right: 40px;
}

.mobile-menu .mobile-close a {
  display: inline-block;
  font-size: 30px;
  color: #fff;
  transition: all 0.8s ease-in-out;
  margin-right: 20px;
}

.mobile-menu .mobile-close a:hover {
  transform: rotate(360deg);
}

.mobile-menu .mobile-menu-body {
  max-height: 100%;
  overflow-y: auto;
  padding: 30px 0;
}

.mobile-menu-body span {
  display: none;
}

.mobile-menu .mobile-menu-body .navigation-list {
  text-align: left !important;
}

.mobile-menu .mobile-menu-body > .navigation-list > li,
.mobile-menu .mobile-menu-body li.dropdown-li > ul.dropdown-list > li {
  display: block;
  margin: 0 !important;
}

.mobile-menu .mobile-menu-body > .navigation-list > li:not(:last-child) > a {
  border-bottom: 1px solid #ffffff;
}

.mobile-menu .mobile-menu-body > .navigation-list > li > a,
.mobile-menu .mobile-menu-body li.dropdown-li > ul.dropdown-list > li > a {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
  padding: 10px 20px;
}

.mobile-menu.mobile-view {
  transform: translateX(0);
}

.mobile-menu .mobile-menu-body li.dropdown-li {
  position: relative;
}

.mobile-menu .mobile-menu-body li.dropdown-li > ul.dropdown-list {
  display: none;
  background: #ddaa00;
}

.mobile-menu
  .mobile-menu-body
  li.dropdown-li
  > ul.dropdown-list.dropdown-list-1 {
  margin-left: 30px;
}

.mobile-menu
  .mobile-menu-body
  li.dropdown-li
  > ul.dropdown-list.dropdown-list-2 {
  background: #ddaa00;
}

.mobile-menu .mobile-menu-body li.dropdown-li > a > i {
  float: right;
  font-size: 16px;
  transition: inherit;
}

.mobile-menu .mobile-menu-body li.dropdown-li.open > a > i {
  transform: rotate(90deg);
}

/* MOBILE-MENU CSS END */

/* HEADER CSS START */

.header {
  position: relative;
  background: transparent;
  z-index: 2;
}

.header-top:before {
  position: absolute;
  content: "";
  width: 9%;
  clip-path: polygon(0 0, 100% 0%, 84% 100%, 0% 100%);
  height: 100%;
  background: var(--c1);
}

.header-top {
  background: #222;
  color: #fff;
  position: relative;
}

.header-content-top {
  padding: 1rem;
}

.header-content-top h5 a {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}

.bottom-row {
  display: flex;
  align-items: center;
  padding: 7px 0;
  justify-content: space-between;
  margin-left: 0;
}
.header-logo {
  padding-top: 1rem;
}
.header-logo img {
  width: 69%;
}

.bottom-row .navigation-list li a:hover {
  color: var(--c1);
}

.bottom-row .navigation-list li a {
  color: #3b3b3b;
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
  margin-right: 1.1rem;
}

.content h2 {
  font-size: 66px;
  text-transform: capitalize;
  color: var(--c1);
  line-height: 1;
  font-weight: 400;
}

.content h2 span {
  /* display: block; */
  /* font-weight: bold; */
  /* letter-spacing: 5px; */
  /* font-size: 60px; */
  color: #000;
}

.primary-sec {
  border: 2px solid transparent;
  background: #fff;
  color: var(--c1);
}

.primary-sec:hover {
  background: var(--c1);
  color: #fff;
}

/* HEADER CSS END */

/* BANNER-SEC CSS START */

/* banner-inner-page start */

.banner-img img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  background-repeat: no-repeat;
}

.banner-content {
  position: absolute;
  top: 50%;
  transform: translateY(-10%);
  width: 100%;
}

section.banner-section {
  position: relative;
}

/* banner-inner-page end */

/* main-BANNER-SEC  */
.main-banner {
  position: relative;
  overflow: hidden;
  background: url(../images/bg-main.png);
  height: 850px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}
.aboutus {
  position: relative;
  overflow: hidden;
  background: url(../images/about.png);
  height: 950px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  background-position: center;
}

.main-banner:after {
  position: absolute;
  /* content: ""; */
  background-image: url(../images/path-1.png);
  width: 755px;
  background-repeat: no-repeat;
  height: 300px;
  bottom: 40px;
  background-size: contain;
  right: 40%;
  z-index: -1;
}

.main-banner-content h6 span {
  font-size: 140px;
  font-weight: 700;
  color: var(--c1);
  display: block;
  line-height: 0.8;
}

.main-banner-content h6 {
  font-size: 44px;
  line-height: 1.5;
}

.hm-sze {
  font-size: 24px !important;
  letter-spacing: 2px !important;
}
.form-group .form-control {
  font-weight: 400;
  color: #787878;
}
.slider-content {
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  width: 100%;
}

.main-banner-content:before {
  position: absolute;
  /* content: ""; */
  /* background-image: url(../images/tb-banner.png); */
  width: 286px;
  height: 194px;
  background-size: auto;
  left: -5%;
  top: -7%;
  z-index: -3;
}
.chs-bf:before {
  position: absolute;
  content: "";
  background-image: url(../images/bf-banner.png);
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  top: -80px;
  left: auto;
  right: -30px;
  z-index: 2;
}
.chs-bf:after {
  position: absolute;
  content: "";
  background-image: url(../images/af-banner.png);
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  top: auto;
  left: auto;
  right: auto;
  z-index: 2;
  bottom: -80px;
}
.main-banner-content {
  color: #000;
  position: relative;
}

.banner-bg img {
  width: 100%;
}
.main-banner-img:before {
  position: absolute;
  /* content: ""; */
  width: 640px;
  height: 670px;
  background-image: url(../images/bg-img-bf.png);
  background-size: contain;
  z-index: -1;
  top: 170px;
  left: -70px;
  background-repeat: no-repeat;
}
.main-banner-img {
  position: relative;
  right: -18%;
  z-index: 5;
  top: 2rem;
}

.main-banner-img img {
  width: 630px;
  overflow: hidden;
}

/* main-BANNER-SEC  */

/* about us start  */
.main-title {
  margin-top: 1.5rem;
}

.main-title h4 {
  font-size: 56px;
  text-transform: capitalize;
  font-weight: 300;
  position: relative;
}

.main-title {
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.content h4 {
  font-size: 40px;
  font-weight: 600;
}

.content p {
  color: #010101;
  font-size: 23px;
  line-height: 27px;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.anlytic {
  display: flex;
  margin-right: 6.5rem;
  gap: 1rem;
}

.anlytic-box {
  text-align: center;
  padding: 20px 13px;
  transition: 0.5s all;
}

.anlytic-box h4 {
  font-size: 19px;
  text-transform: uppercase;
}

.anlytic-box i {
  color: var(--c1);
}

.anlytic-box:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #fff;
  border-radius: 15px;
}

.anlytic li i {
  font-size: 38px;
}

.anlytic li p {
  font-weight: 500;
  font-size: 15px;
}

.about-content .primary-btn {
  /* padding: 7px 30px; */
}

.main-title p {font-size: 20px;color: #BFBFBF;}

.about-title h4 span {
  /* display: block; */
  color: var(--c1);
}

.main-title h4:before {
  position: absolute;
  /* content: ""; */
  background-image: url(../images/de-b.png);
  width: 40px;
  height: 50px;
  background-repeat: no-repeat;
  top: -20px;
  margin-left: -30px;
}

.main-title h4 span:after {
  position: absolute;
  /* content: ""; */
  background-image: url(../images/de-b.png);
  width: 40px;
  height: 50px;
  background-repeat: no-repeat;
  top: auto;
  transform: rotate(181deg);
  bottom: -5px;
  margin-left: 0;
}

.about-us {
  padding: 3rem 0rem;
}
.bg-banner {
  background: url(../images/ab-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.about-img ul {
  display: flex;
  align-items: end;
  gap: 1rem;
}

.about-img img {
  width: 100%;
}

.about-img {
  position: relative;
}

.about-content p {
  color: #3b3b3b;
  font-weight: 400 !important;
  font-size: 17.5px;
}
.content h3 {
  font-size: 45px;
  line-height: 42px;
}
.about-content {
  margin-left: 1rem;
  position: relative;
}
.about-content h6 {
  font-size: 42px;
  font-weight: 400;
  font-family: "Montserrat";
  padding-bottom: 10px;
}

/* about us end */
/* service section start */
.service-title h4 {
  font-size: 22px;
  text-align: center;
  font-weight: 300;
  padding-bottom: 2rem;
}

.services-boxs-imgs:after {
  /* position: absolute; */
  /* content: ""; */
  /* background: #2D2D2D; */
  /* width: 100%; */
  /* height: 65%; */
  /* top: -10px; */
  /* z-index: -1; */
  /* border-radius: 265px 265px 265px 0px; */
  /* left: 8px; */
}

.services-boxs-imgs {
  position: relative;
}

.service-title h4 span {
  /* display: block; */
  /* font-weight: 600; */
}

.services-boxs-imgs img {
  border-radius: 48px;
  width: 100%;
  height: 322px;
  object-fit: cover;
  object-position: center;
}
.listing-title {
    padding: 1rem 0;
}

.listing-card-img {
    align-items: center;
}

.listing-img img {
    width: 80%;
}

.services-boxs {
  padding: 1rem 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 15px;
  margin-right: 12px;
}

.ser-content p {
  font-weight: 400;
  font-size: 15px;
  color: #BFBFBF;
  line-height: 30px;
}
.d-color {
    color: var(--c1) !important;
}
.ser-content {
  padding-top: 1rem;
  /* height: 0; */
  overflow: hidden;
  transition: 0.5s all;
}

.services-boxs:hover .ser-content {
  /* height: 240px; */
}

.services-sec {
  padding: 3rem 0rem;
  background: #f6f6f6;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.services-box {
  padding: 1rem 0;
}

/* service section end */

.privacy ul {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

.privacy ul li a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}

.ff-content {
  width: 100%;
  padding: 4rem 0;
}

.ff-content form {
  display: flex;
}
.social-icons-footer a {
  background-color: white;
  font-size: 30px;
  border-radius: 100%;
  color: #3b3b3b !important;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
#footer_form .contacterr,
#footer_form .emailerr {
  color: red;
  font-size: 14px;
  margin: -8px 0 10px;
  display: none;
  position: absolute;
  top: 36px;
}

.contacterr,
.emailerr {
  color: red;
  font-size: 14px;
  margin: -8px 0 10px;
  display: none;
}

footer .ff-content .form-control {
  height: calc(1.5em + 0.75rem + 4px);
}

.footer-logo img {
  width: 248px;
  height: 108px;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}
footer .ff-content .form-control,
footer .ff-content .form-control:focus {
  padding: 5px 10px;
  border-radius: 20px 0px 0px 20px;
  border: 2px solid #fff;
  color: #333;
  font-family: "poppins";
  box-shadow: none;
  height: 40px;
  background: #fff;
  font-size: 16px;
}

.ff-content button {
  background-color: var(--c1);
  padding: 0 30px;
  width: fit-content;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 0px 20px 20px 0px;
}

.footer-socil ul {
  display: flex;
  gap: 1rem;
}

.footer-socil ul li a {
  background: #fff;
  color: #000;
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
}

.footer-socil ul li a:hover {
  background: var(--c1);
  color: #fff;
}

.footer-links h4 {
  text-transform: capitalize;
}
ul.footer-menu {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid;
  justify-content: space-between;
  padding-bottom: 10px;
}
.footer-menu li a {
  line-height: 1.5;
  margin-top: 11px;
  text-transform: capitalize;
  font-weight: 500;
}

.footer-links p {
  font-size: 15px;
  color: #cbcbcb;
  padding-top: 10px;
  padding-bottom: 11px;
}

.primary-thre {
  background: var(--c1);
  border: 2px solid transparent;
  color: #fff;
  padding: 5px 50px;
  border-bottom-left-radius: 10px;
  border-radius: 50px 50px 50px 50px;
}

.primary-thre:hover {
  background: var(--c1);
  color: #fff;
}

.copyright {
  background: var(--c1);
}

.privacy ul li:first-child {
  position: relative;
}

.privacy ul li:first-child::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 15px;
  background: #777;
  top: 4px;
  right: -10px;
}

.copy-right {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 9px;
  border-radius: 50px;
}

.copy-right-content p {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  text-align: center;
}

/* Footer */

.footer {
  background-color: var(--c1);
  /* padding: 53px 0px; */
  height: fit-content;
  padding-top: 60px;
}

.footer ul {
  list-style: none;
  padding: 10px;
}

.footer ul li a {
  text-decoration: none;
  color: white;
  line-height: 40px;
}

.social-icons-footer a {
  background-color: white;
  color: var(--col1);
  font-size: 20px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.footer .logo img {
  width: 212px;
  padding-bottom: 19px;
}

/* FOOTER SECTION END */
/* contact form section strt  */

.contact-form-1 .form-group {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

form.contact-form-1 {
  text-align: center;
}

.contact-form-1 .form-group input,
.contact-form-1 .form-group textarea {
  background: #fff;
  padding: 0.5rem 30px;
  border-radius: 48px;
  resize: none;
  outline: none;
  border-color: none;
  box-shadow: none;
}

.contact-form-1 .form-group textarea:focus,
.contact-form-1 .form-group input:focus {
  outline: none;
  border-color: #86b7fe;
}

.contact-img img {
  margin-top: -52px;
  margin-left: -43px;
  width: 120%;
}

.contact-form h4 {
  font-size: 46px;
  text-transform: capitalize;
  font-family: "Montserrat";
  font-weight: 600;
}

.contact-form p {
  color: #c7c7c7;
}

.contact-form {
  margin-left: 4rem;
  position: relative;
  z-index: 2;
}

section.email-main {
  background-image: url(../images/email-banner.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0 13rem 0;
}

.email-sec {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.email-sec li i {
  font-size: 40px;
  background-color: #fff;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  color: var(--c1);
  transform: rotate(-46deg);
}

.email-sec li p {
  font-size: 22px;
  color: #fff;
  text-transform: capitalize;
}

.email-sec li a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.email-sec li a span {
  font-weight: 300;
  font-size: 24px;
  text-transform: capitalize;
  margin-right: 10px;
}

.atrate li i {
  transform: none;
}

.contact-form-main {
  width: 100%;
  height: 220px;
  background-color: #fff;
  z-index: 0;
  border-radius: 150px 150px 0 0;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  margin-top: -9rem;
  padding-top: 5rem;
}

.contat-form {
  position: relative;
  background: transparent;
  height: 563px;
}

.contact-bg {
  /* background: #fff; */
  padding: 0 70px;
  height: 140px;
}

.contat-form:before {
  position: absolute;
  content: "";
  /* background-image: url(../images/bd.png); */
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  z-index: -1;
}

/* contact form section end */

/* testimional section start  */
.testimonail-img {
  margin-top: -7rem;
}

.testimonail-box .testimonail-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.testimonail-box {
  text-align: center;
  padding: 2rem;
  background: #f1f1f1;
  margin: 0px 40px;
  border: 1px solid transparent;
  transition: 0.5s all;
  border-radius: 15px;
}

.testimonail-title h4 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
}

.testimonail-title p {
  font-size: 15px;
  font-style: italic;
  color: #a7a3a3;
  text-transform: capitalize;
}

.testimonail-title {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.testimonail-start {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-top: 1rem;
}

.testimonail-start li {
  color: #f4d40f;
  font-size: 16px;
}

.testimonail-main {
  padding: 3rem 0;
  position: relative;
}

.testimonail-titl h3 {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 1rem;
}

.testimonail-main-slider {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
}

.testimonail-main-items {
  margin-top: 6rem;
}

/* testimional section end  */

.ff-mail i {
  margin-right: 10px;
}

.ff-mail {
  margin-bottom: 1rem;
}

.about-content h5:before {
  /* position: absolute; */
  /* content: ""; */
  background-image: url(../images/de-b.png);
  width: 40px;
  height: 50px;
  background-repeat: no-repeat;
  left: -40px;
  top: -25px;
}

.about-content:after {
  position: absolute;
  /* content: ""; */
  background-image: url(../images/de-b.png);
  width: 40px;
  height: 50px;
  background-repeat: no-repeat;
  left: auto;
  top: 30px;
  right: 40px;
  transform: rotate(184deg);
}

.how-work-img img {
  width: 96%;
  margin-bottom: 1rem;
}

.contact-form h4:after {
  position: absolute;
  content: "";
  background-image: url(../images/de-br.png);
  width: 21px;
  height: 86px;
  left: -30px;
  z-index: 4;
  background-size: contain;
  background-repeat: no-repeat;
}

.primary-bg {
  border-radius: 1;
}

.primary-sec {
  border-radius: 50px 50px 0px 50px !important;
  background: transparent;
  border-color: var(--c1);
}

.testimonail-main-slider:before {
  position: absolute;
  content: "";
  background-image: url(../images/quotes.png);
  width: 140px;
  height: 93px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100%;
  top: 0;
  left: -80px;
}

.testimonail-main-slider:after {
  position: absolute;
  content: "";
  background-image: url(../images/test-m.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  top: 105px;
  z-index: -21;
}

/*  */
.services-box-slider .slick-prev,
.services-box-slider .slick-next {
  top: 170px;
}

.services-box-slider .slick-prev::before,
.our-journal-slider .slick-prev::before {
  left: 45%;
}

/* leran more section start */
.learn-more-sec {
  background-color: var(--c1);
  border-radius: 48px;
}
.learn-more-content h3 {
  font-size: 37px;
  color: #fff;
  font-family: "Montserrat";
}

.learn-more-content p {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  padding: 10px 0rem;
}

.light {
  color: #fff !important;
  border-color: #fff !important;
}
.learn-more-content {
  padding: 2rem 4rem;
  padding-right: 0rem;
}
section.learn-more {
  position: relative;
  z-index: 1;
}
/* leran more section end */

/* explore section start  */
.explore-chantal-box {
  text-align: center;
  border: 1px solid;
  height: 200px;
  display: grid;
  place-items: center;
  border-color: #707070;
  margin-bottom: 2.5rem;
  border-radius: 19px;
}

.chantel-content p {
  padding: 10px;
}

.chantel-logo img {
  width: 61%;
  display: block;
  margin: 0 auto;
}

section.explore-chantal {
  padding: 5rem;
}
section.explore-chantal .col {
    flex: 1 0 20%;
}

.brc-g {
  border-color: green;
}
.brc-y {
  border-color: #ffc831;
}
/* explore section end */

/* pre-img section */
.pre-image-banner img {
  width: 100%;
}
.bg-banner-blue {
  margin-top: -20rem;
  position: relative;
  z-index: 0;
}

/* sec */
.about-title h4 {
  font-size: 48px;
  text-align: center;
}
.blog-img {
  position: relative;
}
.blog-img img {
    width: 100%;
}
section.blog-main {
  position: relative;
  z-index: 1;
  margin-top: -12rem;
}

.blog-date {
  position: absolute;
  top: 0px;
  right: 10px;
  color: #fff;
  background: #fff;
  color: #000;
  width: 50px;
  height: 50px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  line-height: 16px;
  padding-top: 8px;
}

.blog-date span {
  display: block;
  font-weight: 400;
  font-family: "Montserrat";
  font-size: 12px;
}
.blog-content h4 {
  font-size: 28px;
  font-weight: 700;
  color: var(--c1);
}

.blog-content .primary-btn {
  font-size: 14px;
  font-weight: 600;
  padding: 4px 20px;
}

.blog-content p {
  line-height: 21px;
  font-size: 14px;
  padding: 9px 0;
}

.blog-content {
  background: #fff;
  padding: 1rem 1rem;
  width: 90%;
  top: -50px;
  position: sticky;
  display: block;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: -50px auto;
}

.blog-main-box {
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-bottom: 5rem;
}

/* chapter life start  */
.chapter-life .main-banner-img::before {
  display: none;
}
.chapter-life .main-banner-img {
  position: relative;
  right: 10rem;
  z-index: 5;
  top: 5.1rem;
  z-index: -1;
}
.chapter-life .main-banner-img img {
  width: 1000px;
  overflow: hidden;
}

.chapter-life:after {
  display: none;
}

.chapter-life {
  background: #fdfdfb;
  height: 810px;
}
.bg-ab-1 {
  background: url(../images/bg-ab-1.png);
  background-position: top;
  height: 660px;
}
.bg-ab-2 {
  background: url(../images/bg-4.png);
  background-position: top;
  height: 712px;
}
/* chapter life end */

/*why section s  */
.why-chapter-content h3 {
  font-size: 48px;
  color: #fff;
  letter-spacing: 2px;
  border-bottom: 3px solid;
  width: fit-content;
  margin-bottom: 1rem !important;
  margin: 0 auto;
}

section.why-chapter {
  background-image: url(../images/why-c.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 565px;
  display: flex;
  align-items: end;
  /* margin-top: -15rem; */
  z-index: 99999 !important;
}
section.children-chapter {
  background-image: url(../images/why-c1.png);
  height: 528px;
  display: flex;
  align-items: end;
}
.why-chapter-content {
  text-align: center;
  padding-bottom: 5.5rem;
  /* align-items: center; */
}

.why-chapter-content p {
  font-size: 17px;
  color: #fff;
}

/* courser start  */
.course-tabs {
  border: unset;
}

.course-tabs .nav-link.active,
.course-tabs .nav-item.show .nav-link,
.course-tabs .nav-link:focus,
.course-tabs .nav-link:hover {
  border-color: transparent;
}
.course-tabs .nav-link {
  font-size: 18px;
  color: #ababab;
}

.course-tabs .nav-link.active,
.course-tabs .nav-link:hover {
  color: var(--c1);
  font-weight: 500;
}

.course-tabs {
  justify-content: center;
  gap: 2;
  background: #F8F8F8;
}

.course {
  padding: 3rem 0;
}
.start_s {
  display: flex;
}

.course__start {
  display: flex;
  align-items: center;
}

.start_s li i {
  color: #ec9500;
}

.start_c {
  font-family: "Montserrat";
  color: #ababab;
  font-weight: 500;
  margin-left: 4px;
}
.price {
  font-size: 24px;
  font-weight: bold;
  font-family: "Montserrat";
}

.price span {
  font-size: 18px;
  text-decoration-line: line-through;
  color: #ababab;
}
.title__t {
  font-size: 60px;
  font-weight: 500;
  font-family: "kindest_realitydemoregular";
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 10px;
  color: #3b3b3b;
}
/* courser end */

/* contact email s */
.contact-email .learn-more-sec {
  background-image: linear-gradient(45deg, #00438b, var(--c1));
  border-radius: 138px;
  padding: 19px;
}
.contact-email .learn-more-content {
  padding: 2rem 4rem;
  padding-right: 0rem;
  border-right: 2px solid #fff;
}
.contact {
  font-weight: 500;
  font-size: 32px;
  color: #fff;
}
.contact:hover {
  color: var(--c1);
}

.email-sec .email-anc {
  font-size: 50px;
  color: var(--c1);
  background: #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

.email-input h4 {
  font-size: 30px;
  font-family: "Montserrat";
  color: #fff;
}

.email-input input {
  background: transparent;
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 58px;
  margin-top: 9px;
  width: 146%;
}

.email-input input::placeholder {
  color: #fff;
}
.contact-email {
  bottom: -100px;
}
/* contact email e */

/* chose happy  */
.chose__happy .why-chapter-content h3 {
  font-size: 70px;
  color: #fff;
  letter-spacing: 2px;
  border-bottom: 3px solid;
  width: fit-content;
  margin-bottom: 1rem !important;
  margin: unset;
}
.chose__happy .why-chapter-content p {
  font-size: 20px;
  color: #fff;
}
.chose__happy .why-chapter-content {
  text-align: start;
  padding-bottom: 5rem;
}

/* chose happy slider s */
.after-slider-boxs-imgs img {
  width: 100%;
}

.after-slider-boxs {
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 3px 0px;
}
.after-slider-content {
  padding: 1rem;
  text-align: center;
  padding-top: 0rem;
  background: #fff;
  border-bottom: 1px solid #f5f1f1;
}

.after-slider-content h4 {
  font-size: 22px;
  font-family: "Montserrat";
  color: var(--c1);
  padding-bottom: 10px;
  font-weight: 600;
}

.abouts-after-slider {
  padding-bottom: 1rem;
  margin-top: -5rem;
}
.abouts-after-slider .slick-slide {
  margin: 1rem;
}
.about-after-box .slick-prev:before,
.about-after-box .slick-next:before {
  filter: invert(1);
}

.about-after-box .slick-prev {
  left: -20px;
  right: auto;
  z-index: 1;
}
/* chose happy slider e */

/* pre section start  */
.pre-order-title h3,
.pre-order-title h3 span {
  font-family: "Montserrat";
}

.pre-order-title h3 {
  font-size: 40px;
  text-align: center;
  color: #3b3b3b;
  font-weight: 400;
}
.pre-order-title h3 span {
  color: var(--c1);
  font-weight: 700;
}
.testimional-section {
}
.testimioal-slider-items {
  display: flex;
  align-items: baseline;
  gap: 20px;
  padding-top: 7rem;
  padding-left: 7rem;
  padding-right: 7rem;
  padding-bottom: 4rem;
  position: relative;
}

.testimioal-slider-title h4 {
  font-size: 36px;
  font-family: "Montserrat";
  color: #fff;
  font-weight: 700;
  /* text-align: center; */
  font-family: "Montserrat", sans-serif !important;
}

.testimioal-slider-title h4 spand {
  display: block;
}

.testimioal-slider-title h4 span {
  display: block;
  font-size: 14px;
  font-family: "Montserrat";
  color: aliceblue;
  font-weight: 500;
  font-family: "Montserrat", sans-serif !important;
}
.testimioal-slider-title p {
  font-size: 16px;
  color: #fff;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  line-height: 22px;
  font-family: "Montserrat", sans-serif !important;
}

section.pre-order .container {
  /* max-width: 1490px !important; */
}

.testimional-counter h4,
.testimional-counter h4 span {
  font-size: 48px;
  font-family: "Montserrat";
  font-family: "Montserrat", sans-serif !important;
}

.testimional-counter h4 span {
  font-weight: 700;
}

.testimional-counter {
  padding-top: 3rem;
}
.counter-time .count-font {
  font-size: 110px;
  color: var(--c1);
  font-weight: 500;
  display: block;
  line-height: 1;
}



.counter-time {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  font-family: "Montserrat";
  color: #3b3b3b;
  text-transform: uppercase;
}
.counter-timer {
  display: flex;
  justify-content: space-between;
  padding: 0rem 6rem;
  margin-top: 2rem;
}
.pdy {
    padding-top: 8rem;
    margin-top: -8rem;
    padding-bottom: 14rem;
}
.pre-order {
  position: relative;
  overflow: hidden;
  background: #3b3b3b;
}
.pre-order:before {
  /* position: absolute; */
  content: "";
  /* background-image: url(../images/pre-bf.png); */
  /* width: 388px; */
  /* height: 510px; */
  /* background-size: contain; */
  /* left: -40px; */
  /* top: 0px; */
  /* background-repeat: no-repeat; */
}
.pre-order:after {
  /* position: absolute; */
  content: "";
  /* background-image: url(../images/pre-af.png); */
  /* width: 385px; */
  /* height: 517px; */
  /* background-size: contain; */
  /* left: auto; */
  /* top: auto; */
  /* right: -4%; */
  /* bottom: -290px; */
  /* background-repeat: no-repeat; */
}
.pre-order-title {
  padding-bottom: 20px;
}
.testimioal-slider-items:before {
  position: absolute;
  content: "";
  background-image: url(../images/testimional/quotes.png);
  width: 100px;
  height: 90px;
  left: 10px;
  top: 10px;
}
/* pre section end */
.contact-form2 {
  margin-top: 150px;
}
.contact-form-main2 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 560px;
}
.contact-form-content h1 span {
  color: #49b3e1;
}
.img-fluid2 {
  width: 100%;
  height: 360px;
}
.blog-main-box2 {
  padding-bottom: 1rem;
}
.content-shop1 h4 {
  font-family: "Montserrat", sans-serif !important;
  font-size: 22px;
}
.content-shop1 .price {
  font-family: "Montserrat", sans-serif !important;
  font-size: 18px;
}
.bg-grey2 {
  background-color: #fff !important;
}
.blog-main-box2 {
  box-shadow: none;
}
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: white;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(--c1);
  opacity: 1;
}
.title__t2 {
  color: #49b3e1;
  line-height: 35px;
}
.couse2 {
  padding: 0;
  padding-top: 50px;
}


.mobile-menu-social ul li a {
  color: var(--c1);
}



/* check out section start  */
.checkout-form .form-group .form-control {
  border-radius: 0;
}
.cart-price>ul {
  display: flex;
  gap: 20px;
}


.size-cart ul {
  display: flex;
  flex-direction: column;
}

.cart-price {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.nike-content h5 {
  font-family: 'Montserrat';
  font-weight: 700;
}

.prices {
  color: var(--c1);
  font-weight: 700;
  font-family: 'Montserrat';
  padding-top: 7px;
  display: block;
  font-size: 24px;
}
.shoping-cart {
    border: 1px solid #ABABAB;
}

.shoping-cart h4 {
    font-size: 34px;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #d1d1d1;
}
.order-Summary {
  background: #F3F3F3;
}

.order-Summary h4 {font-size: 24px;font-family: 'Montserrat';text-align: justify;border: unset;font-weight: 600;padding: 10px 0px;}

.order-Summary {
  width: 94%;
  margin: 0 auto 15px;
  padding: 13px;
}

.amount {
  font-size: 14px;
  font-weight: 500;
  justify-content: space-between;
  display: flex;
}

.amount span {
  font-weight: bold;
  font-size: 17px;
}
.clr-blue span {
  color: var(--c1);
}


.checkout-form .form-group >h4 {
    font-size: 28px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 10px;
}


section.check-out {
    border: 1px solid #ababab;
    padding: 50px;
}
.pyment h4 {
  font-size: 28px;
  margin-bottom: 10px;
}

.chckbox label {
  color: #a1a1a1;
}

input#saveinfo {border-radius: 70px;}

.pyment a {
  color: var(--c1);
  padding-top: 10px;
  display: block;
}
.form-title {
  padding-top: 30px;
}

.form-title h4 {
  padding-bottom: 20px;
}
.form-group.chckbox {
  padding-bottom: 10px;
}
.bg-color-blue {
  background: var(--c1);
  color: #fff;
  display: block;
  margin-top: 40px;
}
.blue{
  color: var(--c1);
}
/* check out section end */


/* login page */
.login {
  text-align: center;
  position: relative;
  padding: 0 10px;
  padding-top: 3rem;
  background: #F8F8F8;
}

.login h4 {
  font-family: 'Montserrat';
  font-size: 34px;
  color: var(--c1);
  font-weight: 600;
  padding-bottom: 20px;
}

.login__bf:before {
    /* content: ""; */
    position: absolute;
    background: var(--c1);
    width: 10%;
    height: 100%;
    top: 0;
    left: auto;
    right: 0;
}

.login__af:after {
    content: "";
    position: absolute;
    background: var(--c1);
    width: 10%;
    height: 100%;
    top: 0;
    left: 0;
    right: auto;
}

section.log__ing {
    padding: 10rem;
}


section.log__ing {
  padding: 10rem;
}
.account-have {
  padding-top: 10rem;
  padding-bottom: 2rem;
  color: #787878;
  font-size: 18px;
}

.account-have a {
  font-weight: 600;
}




/* product page sc */
.singleProduct {
  margin: 4rem 0
}

.singleProduct__contentTitle {
  font-size: 36px !important;
  font-weight: 700 !important;
  color: #000
}

.singleProduct__review {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  margin: 10px 0;
  color: #ffbe0d
}

.singleProduct__review span {
  flex: 1;
  margin-left: 0
}

.singleProduct__review a {
  display: inline-block;
  color: #6a6a6a;
  font-weight: 500;
  padding: 0 .25rem
}

.singleProduct__review a:hover {
  color: var(--pri-color);
  text-decoration: underline !important
}

.singleProduct__info {
  margin: 0;
  padding: 0
}

.singleProduct__info>li {
  display: flex;
  align-items: center;
  color: var(--color-text-color);
  margin-bottom: 1.2rem;
  /* justify-content: space-between */
  gap: 2rem;
  width: 100%;
}

.singleProduct__price {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding-right: 7rem;
}

.pro_crt_text h5 {
  margin-bottom: 1rem
}

.singleProduct__info>li>p:first-child {
  flex: 0.2;
  margin-bottom: 0;
  font-size: 16px !important;
  color: #949494
}

.singleProduct__info>li>p:last-child {
  flex: 0.65;
  margin-bottom: 0;
  display: flex
}

.singleProduct__price p.ins {
  /* color: var(--pri-color); */
  font-size: 28px;
  font-weight: 700;
  vertical-align: middle;
}

.singleProduct__price del {
  color: #00000050;
  font-weight: 700;
  text-decoration: line-through !important;
  vertical-align: middle
}

.singleProduct__quantityCounter {
  flex: 2.3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  border: 1px solid #00000020;
  border-radius: .25rem;
  overflow: hidden
}

.singleProduct__quantityCounter>button {
  display: inline-block;
  cursor: pointer;
  background: 0 0;
  border: none;
  border-radius: .25rem;
  outline: 0;
  padding: .5rem .75rem
}

.singleProduct__quantityCounter>button:active {
  box-shadow: 0 0 10px 1px #00000020
}

.singleProduct__quantityCounter>input {
  width: 80px;
  text-align: center;
  border: none;
  border-radius: .25rem
}

.singleProduct__quantityCounter>input::-webkit-inner-spin-button,
.singleProduct__quantityCounter>input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}

.singleProduct__quantityCounter>input[type=number] {
  -moz-appearance: textfield
}

.singleProduct__quantity>div>.themeBtn {
  flex: 0.3
}

.singleProduct__quantity>.themeBtn {
  width: 100%;
  color: #000;
  background: 0 0;
  border: 1px solid #00000020;
  margin: 1rem 0
}

.singleProduct__quantity>ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  font-size: 14px
}

.singleProduct__quantity>ul a:hover {
  color: var(--pri-color)
}

.singleProduct__quantity>ul a {
  color: inherit
}

.singleProduct__social {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 0
}

.singleProduct__social a {
  display: inline-block;
  color: #000;
  font-size: 20px;
  padding: .25rem;
  margin-right: 10px;
  margin-left: 0
}

.produc-detail p a,
.singleProduct__social a:hover {
  color: var(--pri-color)
}

.singleProduct__contentSubtitle {
  font-size: 18px !important;
  font-weight: 600 !important
}

.clr-chnge {
  background: transparent !important;
  border: 1px solid #3333 !important;
  color: var(--pri-color) !important;
}

.clr-chnge:hover {
  background: var(--pri-color) !important;
  color: #fff !important;
}

.themeBtn:hover {
  background: transparent;
  border: 1px solid #3333;
  color: var(--pri-color);
}

.themeBtn {
  color: #fff;
  text-align: center;
  cursor: pointer;
  background: var(--pri-color);
  border: 1px solid transparent;
  padding: 0.15rem 0.7rem;
  margin: .25rem 0;
  transition: .7s ease-in-out;
  border-radius: 5px;
  display: inline-flex;
}

.singleProduct__review i:nth-child(5) {
  color: #6a6a6a !important
}

.singleProduct__info>li p a {
  font-weight: 400
}


.produc-detail {
  display: flex;
  gap: 14px;
}
/* product page end */


/*  */
.slide-container img {
  width: 100%;
}

.slide-btn img {
  width: 110px;
  height: 120px;
  object-fit: cover;
}

.slide-container img {
  width: 100%;
  height: 500px;
}

.product-color {
  height: 20px;
  width: 20px;
  background: #cccccc;
  border-radius: 30px;
  display: inline-block;
  margin-right: 3px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border: 1px solid #fff;
  padding: 2px;
}
.single-price {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
}
.instock {
  font-size: 24px;
  color: #4EB500;
}

.chart-list {
  display: flex;
}

.chart-list li {
  border: 1px solid #949494;
  width: 30px;
  border-radius: 50px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
  font-size: 16px;
  color: #949494;
}

.add__to__cart {
  margin-top: 50px;
}
.detail__product h4 {
  font-size: 22px;
  color: #949494;
}


.title h3 {
  font-size: 44px;
  font-family: 'Montserrat';
  font-weight: 600;
  text-align: center;
}

section.you-may-also {
  padding-top: 4rem;
}
section.produc-page {
  padding-top: 3rem;
}




/* style css  */

.addtocartoffcanvas,
.loginoffcanvas,
.signupoffcanvas,
.wishlistoffcanvas {
    position: fixed;
    top: 0;
    right: -1000%;
    width: 450px;
    background: #fff;
    z-index: 9999;
    height: 100%;
    transition: .5s
}

.backdrop,
.maindrop a.arrwo:after,
.maindropdown {
    z-index: 99;
    opacity: 0;
    visibility: hidden
}

.addtocartoffcanvas.active,
.gc-thumbs-area.gc-hz .gc-thumbs-area-next,
.loginoffcanvas.active,
.signupoffcanvas.active,
.wishlistoffcanvas.active {
    right: 0
}

.addtocartoffcanvas .close,
.loginoffcanvas .close,
.signupoffcanvas .close,
.wishlistoffcanvas .close {
    cursor: pointer
}

.addtocartoffcanvas .top,
.loginoffcanvas .top,
.signupoffcanvas .top,
.wishlistoffcanvas .top {
    display: flex;
    justify-content: space-between;
    padding: 16px 22px;
    border-bottom: 1px solid #e5e5e5;
    align-items: center
}

.addtocartoffcanvas .top h5,
.loginoffcanvas .top h5,
.signupoffcanvas .top h5,
.wishlistoffcanvas .top h5 {
    font-size: 20px;
    margin: 0;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Montserrat';
}

.addtocartoffcanvas .top .close i,
.loginoffcanvas .top .close i,
.signupoffcanvas .top .close i,
.wishlistoffcanvas .top .close i {
    font-size: 25px;
    color: #7d7573a8;
    font-weight: 100
}

.addtocartoffcanvas .addtocart-area,
.loginoffcanvas .login-area,
.signupoffcanvas .signup-area,
.wishlistoffcanvas .wishlist-area {
    padding: 0 20px;
    height: 85%;
    overflow: auto
}

.addtocartoffcanvas .delete,
.loginoffcanvas .delete,
.signupoffcanvas .delete,
.wishlistoffcanvas .delete {
    position: absolute;
    top: 15px;
    right: 0
}

.addtocartoffcanvas .addtocart-area {
    height: 74%
}

.addtocartoffcanvas .bottom .subtotal {
    display: flex;
    justify-content: space-between;
    padding: 4px 10px 12px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 -10px 12px;
    font-family: 'Montserrat';
}

.addtocartoffcanvas .bottom .subtotal h6 {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat';
    margin: 0
}

.addtocartoffcanvas .bottom .subtotal p {
    font-size: 18px;
    color: var(--c1);
    font-weight: 600;
    margin: 0
}

.addtocartoffcanvas .addtocart-area .addtocartproducts,
.wishlistoffcanvas .wishlist-area .wishproducts {
    display: flex;
    align-items: center;
    position: relative;
    gap: 30px;
    padding: 30px 0
}

.addtocartoffcanvas .addtocart-area .addtocartproducts .product-img,
.wishlistoffcanvas .wishlist-area .wishproducts .product-img {
    width: 64px;
    height: 72px
}

.addtocartoffcanvas .addtocart-area .addtocartproducts .product-img img,
.wishlistoffcanvas .wishlist-area .wishproducts .product-img img {
    object-fit: contain
}

.addtocartoffcanvas .addtocart-area .addtocartproducts .details .pname h5,
.wishlistoffcanvas .wishlist-area .wishproducts .details .pname h5 {
    font-size: 14px;
    margin: 0
}

.addtocartoffcanvas .addtocart-area .addtocartproducts .details .price,
.wishlistoffcanvas .wishlist-area .wishproducts .details .price {
    display: flex;
    align-items: baseline;
    gap: 10px
}

.addtocartoffcanvas .addtocart-area .addtocartproducts .details .del p,
.wishlistoffcanvas .wishlist-area .wishproducts .details .price .del p {
    font-size: 14px;
    margin: 0;
    text-decoration: line-through !important
}

.addtocartoffcanvas .addtocart-area .addtocartproducts .details .price .mprice p,
.wishlistoffcanvas .wishlist-area .wishproducts .details .price .mprice p {
    color: #d90f28;
    font-weight: 500;
    font-size: 18px;
    margin: 0
}

.addtocartoffcanvas .addtocart-area .addtocartproducts .details .date,
.wishlistoffcanvas .wishlist-area .wishproducts .details .date {
    color: #928c8a;
    font-size: 14px;
    margin: 0
}

.addtocartoffcanvas .bottom,
.loginoffcanvas .bottom,
.signupoffcanvas .bottom,
.wishlistoffcanvas .bottom {
    padding: 10px;
    border-top: 1px solid #e5e5e5;
    position: fixed;
    width: 450px;
    bottom: 0;
    display: block;
    background: #fff
}

.addtocartoffcanvas .input-group {
    border: 1px solid #ddd;
    width: 120px;
    margin: 5px 0 2px;
    border-radius: 60px;
}

.addtocartoffcanvas .input-group .btn-number {
    border: none;
    background: 0 0;
    padding: 7px 12px;
    font-size: 13px
}

.addtocartoffcanvas .input-group input {
    width: 0;
    padding: 0;
    border: none;
    font-size: 12px
}

.addtocartoffcanvas .mprice {
    display: flex;
    align-items: center;
    gap: 6px
}

.addtocartoffcanvas .mprice .qnty {
    font-size: 18px;
    font-weight: 500
}

#quantity {
  background: transparent;
}


.bottom-row ul {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
}

.bottom-row ul li a i {
  color: var(--c1);
}
.img-gallery-1 img {width: 100%;}



.banner-blog h4 {
  font-size: 60px;
  font-weight: 800;
  color: var(--c1);
}

.banner-blog {
  padding: 8rem;
}
section.blog-img {
  margin-bottom: 60px;
}


/*  */

.custom-select i {
  position: absolute;
  z-index: 1;
  padding-top: 16px;
  padding-left: 11px;
  color: #bfbfbf;
}
.select2-container--default .select2-selection--single {
  height: 40px;
  padding-top: 10px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  display: none;
}
.select2-container--default .select2-selection--single {
  width: 200px;
  outline: none;
  border-radius: 0;
  border: none;
}
span.select2-dropdown.select2-dropdown--below {
  width: 215px !important;
  margin-top: 9px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  outline: none;
}
.input-combine {
  display: flex;
  gap: 134px;
  border: 1px solid #bfbfbf;
  width: 550px;
  border-radius: 10px;
  margin-left: 0px;
  height: 50px;
  margin-top: 50px;
  position: relative;
}
.input-combine:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 40px;
  top: 5px;
  background-color: #bfbfbf;
  left: 39%;
}
.custom-select.custom2 {
  margin-left: 20px;
}
.select2-container--default .select2-selection--single {
  border-radius: 10px;
}
.custom2 .select2-container--default .select2-selection--single {
  border-radius: 0;
}

.listing-bottom p.d-color {
  margin-bottom: 1rem;
}
  

.popular-card-content {
  display: flex;
  align-items: center;
}
.content-pop {
  padding-left: 10px;
}
.card.popular-card {
  padding: 20px 20px;
  border-radius: 22px;
  margin-bottom: 30px;
}
section.popular {
  
padding-top: 60px;
}
.content-of-popular.text-center {
  padding-bottom: 30px;
}
.content-pop p {
  font-size: 13px;
  color: #bfbfbf;
}

.content-pop h6 {
    font-size: 19px;
    color: #4D4D4D;
}

.news {
  padding: 4.8px 0 9.6px 0;
}
.news-heading {
  font-size: 35px;
  color: #4D4D4D;
}
.news p {
  font-size: 18px;
  line-height: 1.8;
}

.news-letter input[type="email"] {
  display: inline-block;
  width: 93%;
  padding: 18px 36px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 70px;
  margin-top: 18px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.06);
}
input,
input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 3;
}

.bt {
  margin-left: -160px;
  font-size: 16px;
  display: inline-block;
  font-weight: 600;
  padding: 16px 32px;
  border-radius: 20px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  background-color: var(--c1);
  color: #fff;
}

section#News-letter {
  padding: 6rem;
}
.bg-banner-1 {
  background: #F9F9F9;
}
.banner-title {
  padding: 2rem;
  background: #f9f9f9;
}

.banner-title h4 {
  font-size: 44px;
  text-align: center;
  color: #4D4D4D;
}


.timer {
  background-color: var(--c1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem;
}
.loader-2 .count.counting {
  font-size: 68px;
  font-weight: 700;
  color: #fff;
}

.loader.loader-2 {
  text-align: center;
}
.Professional .card.popular-card {
  border: unset;
}



.filterBar .accordion-button {
  padding: 0;
  font-size: 18px;
  color: #000
}

.filterBar .accordion-button:focus,
.filterBar .accordion-button:not(.collapsed) {
  color: #000;
  box-shadow: none;
  background: 0 0
}

.contact-area span.hint b,
.filterBar .accordion-button:not(.collapsed),
.product-detail .pcode-stock li span:nth-child(2),
.track-details ul li span:nth-child(2),
.ty-order-details ul li span:nth-child(2),
.ty-product-details ul li.first span:last-child {
  font-weight: 600
}

.filterBar {
  margin: 20px 0 0
}

.filterBar .accordion-body ul,
.filterBar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block
}

.filterBar .accordion-body ul li:not(:last-child),
.filterBar ul li:not(:last-child) {
  margin-bottom: 12px
}

.filterBar .accordion-body ul li .checkbox,
.filterBar ul li .checkbox {
  width: 16px !important;
  height: 16px;
  border: 1px solid #000;
  position: relative
}

.filterBar .accordion-body ul li .checkbox::before,
.filterBar ul li .checkbox::before {
  content: '\f00c';
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 12px;
  font-family: 'font awesome 5 pro';
  font-weight: 400;
  line-height: 1;
  transform: translate(-50%, -50%);
  color: #d90f28;
  opacity: 0
}

.filterBar .accordion-body ul li .checkbox.active::before,
.filterBar ul li .checkbox.active::before {
  opacity: 1
}

.filterBar ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px
}

.filterBar .accordion-body {
  padding: 0;
  margin-top: 15px
}

.filterBar .accordion-body label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 15px
}

.filterBar .accordion-item {
  padding: 18px 0;
  border-bottom: 1px solid #b4b4b4 !important
}

.addtocartoffcanvas .addtocart-area .addtocartproducts:not(:last-child),
.category-dropdown ul li:not(:last-child),
.product-detail .pcode-stock,
.wishlistoffcanvas .wishlist-area .wishproducts:not(:last-child) {
  border-bottom: 1px solid #e5e5e5
}

.featuredProducts .products a,
.filterBar .accordion-body .frst,
.filterBar .accordion-body ul li .frst,
.filterBar ul li .frst {
    display: flex;
    align-items: center;
    gap: 15px
}
.product-page .services-boxs {
  margin-top: 2rem;
  display: block;
}
.content-pop-2 p {
  font-size: 14px;
  color: #3b3b3b;
  line-height: 19px;
}
.form-contact {
  padding: 50px;
  border: 1px solid var(--c1);
}
.contact-info {
  background-color: var(--c1);
  color: white;
  padding: 40px 40px;
}
.contact-info h2 {
  padding-bottom: 20px;
}

.contat-add span {padding-left: 3rem;}



ul.contact-list {
    padding-bottom: 3rem;
}

.social-icons-footer {
    padding-top: 3rem;
}
.contant-form {
  padding-bottom: 2rem;
}




/* post a job section s*/
.post-a-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.post-a-form li:nth-child(1) {flex: 0 0 25%;width: 100%;}

.post-a-form li:nth-child(2) {
  width: 100%;
  flex: 0 0 75%;
}
.post-a-form li input::placeholder ,.post-a-form li textarea::placeholder {
  font-size: 12px;
  color: #ABABAB;
}
.post-a-form li {
  color: #4D4D4D;
  font-size: 14px;
  padding-top: 1rem;
}
/* post a job section e */


/* blogs section start */
.blogs-img img {
  width: 100%;
}

.blog__content {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 3rem;
}

.blogs-contents {
  padding: 2rem 2rem;
}

section.blogs__main {
  padding: 3rem 0rem;
}

.blogs-contents h4 {
  font-size: 28px;
  color: var(--c1);
  padding-bottom: 11px;
}

.blogs_side-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 2rem;
}

.blogs-side-content h4 {
  font-size: 18px;
}

.blogs-side-content p {
  font-size: 13px;
  margin-top: 10px;
}
.blog__side__br h4 {
  font-size: 30px;
  color: var(--c1);
  margin-bottom: 2rem;
}

.blogs-side-img img {width: 100%;}
/* blogs section end */

/* pagination start  */









/* GENERAL STYLES */

.pagination{
  padding: 30px 0;
  justify-content: center;
}

.pagination ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination a{
  display: inline-block;
  padding: 2px 8px;
  color: #222;
}




/* NINE */

.p9 a{
  text-align: center;
  display: inline-block;
  padding: 2px 8px;
  color: #222;
  margin: auto 5px;
}

.p9 a.is-active{
  border: 3px solid var(--c1);
  border-radius: 100%;
}



#contact-tab {
  padding: 2rem 92px;
}

#archived-tab {
  padding: 2rem 88px;
}
.course-tabs .nav-item .nav-link.active {
  background: var(--c1);
  color: #fff;
}




/* pagination end */



.counter___main_sec .counter {
    font-size: 200px;
    color: #fff;
    line-height: 1.2;
}

section.counter___main {
    background: var(--c1);
    padding: 3rem;
}

.counter___main_sec h4 {
    color: #fff;
    font-size: 66px;
}

.counter___main_sec p {
    font-size: 28px;
    color: #fff;
}

.counter___main_sec {
    text-align: center;
}


.jumbotron {
  background: #fff;
  padding: 1rem;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
  margin-left: 0px;
  margin-top: 50px;
  position: relative;
}

.jumbotron .select2-selection {
  border: unset;
}
.jumbotron .select2-selection:focus {
  outline: none;
}

.btn-serach a {
  background: var(--c1);
  padding: 10px;
  color: #fff;
  border-radius: 12px;
}

.jum-d-flex {
  display: flex;
  align-items: center;
}
.brd-1 {
  border-right: 2px solid #a1a1a1;
  margin-right: 10px;
  margin-left: 10px;
}

.jum-d-flex i {
  font-size: 22px;
  color: #a1a1a1;
}
.jum-d-flex .select2-container--default.select2-container--focus .select2-selection--multiple  {
  border: unset;
}
.loader.loader-2 p {
  color: #fff;
}



/* apply post sectopm start  */
.apply-post-main {
  display: flex;
  align-items: center;
  gap: 12px;
}
.apply-main-conent h4 {
    font-size: 22px;
}

.apply-main-conent p {
    font-size: 13px;
}


.apply____conetny p ,.apply____conetny pre {color: #8E8E8E;font-size: 16px;}
.apply-main-co ul li i {
  padding-right: 10px;
}


.fileupload-apply label[for=file-input] {
  display: block;
  margin-bottom: 1em;
  font-size: 1em;
  color: #fff;
  opacity: 0.9;
  font-weight: bold;
}

.fileupload-apply input[type=file] {
  cursor: pointer !important;
}
.fileupload-apply input[type=file]::-webkit-file-upload-button {
  background: var(--c1);
  border: 0;
  padding: 1em 2em;
  cursor: pointer;
  color: #fff;
  border-radius: 0.2em;
}
.fileupload-apply input[type=file]::-ms-browse {
  background: var(--c1);
  border: 0;
  padding: 1em 2em;
  cursor: pointer;
  color: #fff;
  border-radius: 0.2em;
}



/* apply post sectopm end */